@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Fjalla+One&family=Gabarito:wght@500&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:wght@100&family=Poiret+One&family=Poller+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body{
    font-family: Arial, Helvetica, sans-serif;
}